- const memo = latest_memo()
if memo
  .recent-post-item.recent-post-memo
    .recent-post-info.no-cover
      a.article-title(href=url_for('/memos/')) 最新的碎碎念
      .article-meta-wrap
        span.post-meta-date
          i.far.fa-calendar-alt
          time.post-meta-date-created(datetime=date_xml(memo.date) title=_p('post.created') + ' ' + full_date(memo.date))= date(memo.date, config.date_format)
        span.article-meta
          span.article-meta-separator |
          i.fas.fa-comment-dots
          a.article-meta__tags(href=url_for('/memos/'))= ' 查看全部碎碎念 →'
      .content= memo.excerpt
